<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: common_header(~{::title}, ~{})">
    <meta charset="UTF-8"/>
    <title>Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/assets/css/docs.min.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <a class="navbar-brand" href="#">Brand</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="btn-group mb-2" role="group" sec:authorize="hasRole('ADMIN')">
    <button type="button" class="btn btn-secondary" th:onclick="createChannel()"
            onclick="">Create channel
    </button>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="channelCreateModa" tabindex="-1" role="dialog"
     aria-labelledby="channelCreateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="channelCreateModalLabel">New channel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form class="form-horizontal form" th:action="@{/channel}" th:object="${channelForm}" th:method="post">
                    <div class="form-group row">
                        <label for="userFormEmail" class="col-sm-3 col-form-label">Name:</label><br>
                        <div class="col-sm-9">
                            <input id="userFormEmail" type="text" th:field="*{name}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="inputPostMessage">Description:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="postMessage" id="inputPostMessage" rows="5"
                                      th:field="*{description}" th:required required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="inputPostMessage">Rules:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="postMessage" id="inputPostMessage" rows="5"
                                      th:field="*{rules}" th:required required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end Modal-->
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2">
            <nav class="bd-links" id="bd-nav">
                <ul class="list-group list-group-flush" th:each="channel : ${channels}" th:object="${channel}">
                    <li class="list-group-item">
                        <a class="bd-toc-link" href="/channel?channel=123" th:text="${channel.name}"
                           th:href="@{/channel(id=${channel.id})}">
                            aaa
                        </a></li>
                </ul>
            </nav>
        </div>
        <div class="col-12 col-md-9 col-xl-10 bd-content" role="main">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Rules</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="channel : ${channels}">
                    <td scope="row" th:text="${channel.name}">dvash</td>
                    <td th:text="${channel.description}">Channel description</td>
                    <td th:utext="${channel.rules}">FAQ
                        <ul>
                            <li>eat</li>
                            <li>prey</li>
                            <li>don't watch stupid films</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/channelAjax.js}"></script>
</body>
</html>
