<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<head th:fragment="common_header(title,links)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:replace="${title}">The awesome application</title>
    <!-- Common styles and scripts -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/docs.min.css}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <a class="navbar-brand" href="/">3sh</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" sec:authorize="hasRole('ANONYMOUS')">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/channel}">Channels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/image}">Images</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" sec:authorize="hasRole('ADMIN')">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/channel}">Channels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/user}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/image}">Images</a>
            </li>
        </ul>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
                <span class="navbar-text" th:text="${#authentication.name}"></span>
            </ul>
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/registration}">Registration</a>
                </li>
                <span class="navbar-text" th:text="${#authentication.principal}"></span>
            </ul>
        </div>
    </div>
</nav>
</body>

</html>
